name: Swift

on:
  push: {}
  pull_request: {}

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Resolve
      run: swift package resolve
    - name: Build
      run: swift build
    - name: Run tests
      run: swift test 2>&1 | xcpretty
